<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Add-Book</title>

</head>
<body>
<section>
    <!--
        private int id;
        private String title;
        private String author;
        private String publisher;
        private String description;
        private String price;
        private String quantity;
        private String status;
        private String category;
        private String coverPhoto;
    -->
    <div class="container">
        <div class="card shadow m-3 p-3 mb-5 ">
            <form>

                        <div class="mb-3">
                            <label for="title" class="form-label">Book Title</label>
                            <input type="text" class="form-control" id="title" aria-describedby="emailHelp">

                        </div>
                        <div class="mb-3">
                            <label for="edition" class="form-label">Edition</label>
                            <input type="text" class="form-control" id="edition" >

                        </div>
                        <div class="mb-3">
                            <label for="publisher" class="form-label">Publisher</label>
                            <input type="text" class="form-control" id="publisher" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="author" class="form-label">Author Name</label>
                            <input type="text" class="form-control" id="author" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <input type="text" class="form-control" id="category" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">quantity</label>
                            <input type="number" class="form-control" id="quantity" aria-describedby="emailHelp">
                        </div>






                <div class="mb-3">
                    <label for="price" class="form-label">Book Price </label>
                    <input type="number" class="form-control" id="price" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" aria-describedby="emailHelp"></textarea>
                </div>
                <div class="d-flex flex-column align-items-center p-4 justify-content-center">
                    <div class="book-cover">
                        <img class="rounded float-left" th:src="@{/images/upload.png}" id="coverImageView" alt="Book Cover">
                    </div>
                    <div class="mb-3 book input">
                        <label for="coverPhoto" class="form-label">Cover Photo</label>
                        <input type="file" class="form-control" id="coverPhoto" accept="image/*" style="display: none;">
                    </div>
                </div>


                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class=" shadow-lg btn btn-primary btn-lg m-3">Save</button>

            </form>
        </div>
    </div>
    <script th:src="@{/javascript/admin/add-book.js}"></script>

</section>
</body>
</html>