<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="college/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Update Librarian</title>
    <style>
        .status-selector {
            background-color: #17a2b8; /* Different color for the selector */
            color: white;
        }
    </style>
</head>
<body>
<section>
    <div class="container bg-light rounded shadow mt-5 p-3">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="modal-title" id="librarianModalLabel">Update Librarian</h2>
        </div>

        <!-- Message -->
        <div th:if="${session.message}" class="container p-2">
            <div class="alert text-center" th:classappend="${session.message.type}" role="alert">
                <span th:text="${session.message.content}"></span>
            </div>
        </div>

        <th:block th:text="${@sessionRemover.removeMessageFromSession()}"></th:block>

        <form th:action="@{/college/update-librarian/{id}(id=${librarian.librarianId})}"  th:object="${librarian} " method="post">
            <div class="mb-1 text-center" th:if="${librarian.profilePhoto==null}">
                <img th:src="@{/img.png}" width="100" height="100" id="profile_photo1" class="rounded-circle img-fluid rounded" alt="Profile Photo">
            </div>
            <div class="mb-1 text-center" th:unless="librarian.profilePhoto==null">
                <img th:src="@{${librarianImageDIR}+${librarian.profilePhoto}}" width="100" id="profile_photo" class="rounded-circle img-fluid rounded" alt="Profile Photo">
            </div>
            <hr>

            <div class="reg-form">
                <div class="mb-3">
                    <label for="name" class="form-label"><strong>Name :&nbsp;</strong></label>
                    <input
                            type="text"
                            class="form-control"
                            name="name"
                            id="name"
                            th:value="${librarian.name}"
                            required
                    >
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label"><strong>Email :&nbsp;</strong></label>
                    <input
                            type="email"
                            class="form-control"
                            name="email"
                            id="email"
                            th:value="${librarian.email}"
                            required
                    >
                </div>

                <div class="mb-3">
                    <label for="staff_id" class="form-label"><strong>Staff ID :&nbsp;</strong></label>
                    <input
                            type="text"
                            class="form-control"
                            name="staffId"
                            id="staff_id"
                            th:value="${librarian.staffId}"
                            required
                    >
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label"><strong>Phone :&nbsp;</strong></label>
                    <input
                            type="tel"
                            class="form-control"
                            name="phone"
                            id="phone"
                            th:value="${librarian.phone}"
                            required
                    >
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label"><strong>Address :&nbsp;</strong></label>
                    <input
                            type="text"
                            class="form-control"
                            name="address"
                            id="address"
                            th:value="${librarian.address}"
                            required
                    >
                </div>

                <div class="mb-3">
                    <label for="city" class="form-label"><strong>City :&nbsp;</strong></label>
                    <input
                            type="text"
                            class="form-control"
                            name="city"
                            id="city"
                            th:value="${librarian.city}"
                            required
                    >
                </div>

                <div class="mb-3">
                    <label for="district" class="form-label"><strong>District :&nbsp;</strong></label>
                    <input
                            type="text"
                            class="form-control"
                            name="district"
                            id="district"
                            th:value="${librarian.district}"
                            required
                    >
                </div>

                <div class="mb-3">
                    <label for="state" class="form-label"><strong>State :&nbsp;</strong></label>
                    <input
                            type="text"
                            class="form-control"
                            name="state"
                            id="state"
                            th:value="${librarian.state}"
                            required
                    >
                </div>

                <div class="mb-3">
                    <label for="zip" class="form-label"><strong>Zip :&nbsp;</strong></label>
                    <input
                            type="text"
                            class="form-control"
                            name="zip"
                            id="zip"
                            th:value="${librarian.zip}"
                            required
                    >
                </div>

                <div class="mb-3">
                    <label for="librarianStatus" class="form-label"><strong>Librarian Status :&nbsp;</strong></label>
                    <select name="librarianStatus" id="librarianStatus" class="form-control status-selector">
                        <option value="ACTIVE" selected>Active</option>
                        <option value="DEACTIVATE">Deactivate</option>
                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Update Librarian</button>
                </div>
                <div class="mb-3" style="display: none" >
                    <label for="zip" class="form-label"><strong>Zip :&nbsp;</strong></label>
                    <input
                            type="text"
                            class="form-control"
                            name="password"
                            id="password"
                            readonly

                            value="demo_password"
                            required
                    >
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
